.offcanvas-backdrop::before {
	z-index: 600 !important;
}

.navbar-dark a.nav-link.active {
	font-weight: bold;
}

.navbar-dark.sticky-header.affix .main-menu li a.nav-link.active {
	color: var(--bs-primary);
}

.navbar-light.sticky-header.affix .fa-fw,
.navbar-dark.sticky-header.affix .fa-fw {
	color: #000000;
}

.navbar-light.sticky-header .fa-fw,
.navbar-dark.sticky-header .fa-fw {
	color: #ffffff;
}

.collapse.navbar-collapse.justify-content-center ul.nav li a::before {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width 0.3s ease;
	transform-origin: left;
}

.affix .collapse.navbar-collapse.justify-content-center ul.nav li a::before {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgb(0, 0, 0);
	transition: width 0.3s ease;
	transform-origin: left;
}

.collapse.navbar-collapse.justify-content-center ul.nav li a:hover::before,
.affix
	.collapse.navbar-collapse.justify-content-center
	ul.nav
	li
	a:hover::before {
	width: 100%;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

:root {
	color-scheme: light only !important;
}

.single-integration {
	height: 100% !important;
}

.single-integration .img-fluid {
	max-width: 50px !important;
	max-height: 50px !important;
}


.bg-animate-gradient {
	background-image: url('../img/vivid-blurred-colorful-wallpaper-background.jpg');
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
	/* background: 
        linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)),
        linear-gradient(180deg, #FF6F61, #FFD166, #45B29D, #0081A7);
	background-size: 200% 100%;
	animation: gradientAnimation 5s infinite;
  }
  @keyframes gradientAnimation {
	0% {
	  background-position: 0% 50%;
	}
	100% {
	  background-position: 100% 50%;
	} */
  }